.header{
  height: 70px;
  display: flex;
  flex-direction: row;
  background-color: rgb(84, 84, 241);
  color: white;
  padding-top: 10px;
}
span{
  padding-top: 7px;
  margin-left: 20px;
  
  

}
.material-icons {
  font-size: 30px;
}
h2{
  padding-left: 15px;
}
.sec_font{
  font-size: 70px;
}
.head_sec{
  margin-top: 70px;
  text-align: center;
  margin: auto;

}



form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: rgb(84, 84, 241);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 80px;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}





.container {
  padding: 16px;
}
.item_img{
  height: 230px;
}


